@using SBOSys
@model SBOSys.ViewModel.DiscountCodeDetailsViewModel

@using (Html.BeginForm("CreateNewDiscount", "Discount", FormMethod.Post, new { @class = "form-horizontal", @id = "discountform", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.disc_Id)

    <div class="box-body">
        
        <div class="form-group">
            <label class="control-label col-sm-3 required">Discount Code:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.discCode, new {@class = "form-control", @data_toggle = "popover", @placeholder = "Enter discount code", @autofocus = "autofocus"})
                @Html.ValidationMessageFor(model => model.discCode, null, new {@class = "text-danger"})
            </div>
         
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-3 required">Discount Type:</label>
            <div class="col-sm-6">
                <div class="radio">
                    <label style="margin-right: 10px;">
                        @Html.RadioButtonFor(model=>model.disctype, "percentage", false)
                        Percentage (%)
                    </label>
                    
                    <label style="margin-left: 10px; margin-right: 10px;">
                        @Html.RadioButtonFor(model=>model.disctype, "amount", false)
                        Amount
                    </label>

                </div>
                @Html.ValidationMessageFor(model => model.disctype, null, new {@class = "text-danger"})
            </div>
         
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-3 required">Discount:</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.discount_amt, new {@class = "form-control", @data_toggle = "popover", @placeholder = "Enter discount", @autofocus = "autofocus"})
                @Html.ValidationMessageFor(model => model.discount_amt, null, new {@class = "text-danger"})
            </div>
         
        </div>
        
       
        <div class="row">
          
            <div class="col-sm-3 col-sm-offset-3">
                <div class="form-group">
                    <label class="control-label">From:</label>
                    <input type="text" value="" class="form-control" id="dtFrom"/>

                </div>

            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">To:</label>
                    <input type="text" value="" class="form-control" id="dtTo"/>

                </div>
            </div>
        </div>

    </div>

    <div class="box-footer" style="padding-left: 0px;">
        <div class="col-md-5 col-sm-offset-3">

            @*<input type="submit" value="Register " title="Register" id="btn_regCourse" class="btn btn-success btn-sm"/>*@
            <button class="btn bg-olive btn-flat" type="submit" id="btn_regdiscount">Register</button>
            <button class="btn bg-purple btn-flat"type="button" id="btn_canceldiscount">Cancel</button>

        </div>
    </div>
}

<script type="text/javascript">

    $(function() {

        $('#dtFrom').datetimepicker(
            {

                format: "DD-MMM-YYYY"

            });

        //init datetimepcker
        $('#dtTo').datetimepicker(
            {

                format: "DD-MMM-YYYY"

            });

    });

</script>