@using Microsoft.AspNet.Identity

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        @*<div class="user-panel">
                <div class="pull-left image">
                    <img src="@Url.Content("~/Content/dist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <!--status-->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>*@

        <!-- search form (Optional) -->
        <form action="@Url.Action("SearchIndex","GlobalSearch")" method="post" class="sidebar-form" style="margin-top: 18px;" id = "globalsearchkey"}>
                <div class="input-group">
                    <input type="text" name="globalsearchString" class="form-control" value="@ViewBag.GlobalFilter" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="btn-searchAll" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

        @*@Html.BeginForm("SearchIndex", "GlobalSearch", FormMethod.Get,new { item = ViewBag.GlobalSearchKey, @class = "sidebar-form",@style= "margin-top: 18px;" })
        {
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="btn-searchAll" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        }*@
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">System Menu</li>

            <!-- Optionally, you can add icons to the links -->
            @*<li class="active"><a href="#"><i class="fa fa-tachometer"></i> <span> Dashboard</span></a></li>*@

            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-tachometer"></i> <span> Dashboard</span></a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Config. Files</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Customers")"><i class="fa fa-circle-o"></i> Customers</a></li>
                    <li><a href="@Url.Action("Index", "Course")"><i class="fa fa-circle-o"></i> Course Category</a></li>

                    <li><a href="@Url.Action("Index", "Menus")"><i class="fa fa-circle-o"></i> Menus</a></li>
                    <li><a href="@Url.Action("Index", "Packages")"><i class="fa fa-circle-o"></i> Buffet Packages</a></li>
                    <li><a href="@Url.Action("Index", "Area")"><i class="fa fa-circle-o"></i>Area</a></li>
                    @*<li><a href="@Url.Action("Index", "AddOns")"><i class="fa fa-circle-o"></i> Add-Ons </a></li>*@
                    
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i> AddOns
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "AddonCategory")"><i class="fa fa-circle-o"></i> Category	</a></li>
                            <li><a href="@Url.Action("Index", "AddonDetails")"><i class="fa fa-circle-o"></i> Details</a></li>

                        </ul>
                    </li>
                   
                    <li><a href="@Url.Action("Index", "Discount")"><i class="fa fa-circle-o"></i> Booking Discount</a></li>

                </ul>
            </li>

            <li><a href="@Url.Action("Index", "Reservations")"><i class="fa fa-ticket"></i> <span> Reservation</span></a></li>

            <li><a href="@Url.Action("Index", "Bookings")"><i class="fa fa-cart-plus"></i> <span> Bookings</span></a></li>

            <li><a href="@Url.Action("Index","Recievables")"><i class="fa fa-money"></i> <span> Accounts Recievables</span></a></li>
            <li><a href="@Url.Action("Index","BookingRefunds")"><i class="fa fa-credit-card"></i> <span> Refunds</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-search-plus"></i>
                    <span>Inquiries</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("CustomerBookingHistory", "Inquiry")"><i class="fa fa-circle-o"></i> Customer Booking History</a></li>
                    <li><a href="@Url.Action("BookingScheduleIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Booking Schedule Report</a></li>

                    <li><a href="@Url.Action("AccountsRecievableReportIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Accounts Recievables Report</a></li>


                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Sales Report
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("SalesSummaryIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Sales Summary</a></li>
                            <li><a href="@Url.Action("CashSalesReportIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Collection Report</a></li>
                        </ul>

                    </li>

                    @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Refunds Report
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("SalesSummaryIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Refunds Entry Summary</a></li>
                            <li><a href="@Url.Action("CashSalesReportIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Refunds Voucher</a></li>
                        </ul>

                    </li>*@
                  
                    <li><a href="@Url.Action("GetAllCancelledBookings","Inquiry")"><i class="fa fa-circle-o"></i> Cancelled Bookings</a></li>

                </ul>
            </li>

            <li><a href="@Url.Action("Index", "Events")"><i class="fa fa-calendar"></i> <span> Events Calendar</span></a></li>
            
        @if (this.User.IsInRole("superadmin"))
        {
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-secret"></i>
                    <span>Admin</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    
                    <li><a href="@Url.Action("UsersIndex", "Account")"><i class="fa fa-circle-o"></i> Users </a></li>
                    <li><a href="@Url.Action("Index", "AuditLog")"><i class="fa fa-circle-o"></i> Audit Logs </a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Admin Report
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("AdminReportsMonthlyCash_Index", "Inquiry")"><i class="fa fa-circle-o"></i> MCR </a></li>
                            @*<li><a href="@Url.Action("CashSalesReportIndex", "Inquiry")"><i class="fa fa-circle-o"></i> Collection Report</a></li>*@
                        </ul>

                    </li>



                </ul>
            </li>
        }

          

        </ul>
        <!-- /.sidebar-menu -->
    </section>

    <!-- /.sidebar -->
</aside>
