@using SBOSys
@model SBOSys.ViewModel.ReservationViewModel

@using (Html.BeginForm("SaveReservation", "Reservation", FormMethod.Post,new { @class = "form-horizontal", @id = "formreservation", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m=>m.reservationId)

    @Html.HiddenFor(m=>m.resStat)

    @Html.HiddenFor(m=>m.customerId,new { @id = "hidden_cusId" })

    <div class="box-body">
        
        <div class="form-group">
            @Html.LabelFor(m => m.fullname, new { @class = "col-sm-3 control-label required" })
            
            <div class="col-sm-9">

                @Html.TextBoxFor(m => m.fullname, new {@class = "form-control", @id = "customer", @placeholder = "Search Customer"})
                @Html.ValidationMessageFor(model => model.fullname, null, new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.reserveDate, new {@class = "col-sm-3 control-label required"})
            <div class="col-sm-9">
                <div class="input-group date">

                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>


                    @Html.TextBoxFor(m => m.reserveDate, new {@class = "form-control pull-right", @id = "reserve_date", @value =""})
                </div>
                @Html.ValidationMessageFor(m => m.reserveDate, null, new {@class = "text-danger"})
            </div>


           
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.noofperson, new { @class = "col-sm-3 control-label" })
            
            <div class="col-sm-9">

                @Html.TextBoxFor(m => m.noofperson, new {@class = "form-control", @id = "noofperson", @placeholder = "Enter no of Persons"})
               
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.occasion, new { @class = "col-sm-3 control-label" })
            
            <div class="col-sm-9">

                @Html.TextBoxFor(m => m.occasion, new {@class = "form-control", @id = "occasion", @placeholder = "Enter Occasion"})
               
            </div>
        </div>

    </div>

  

    <div class="box-footer">
        <div class="col-md-5 col-sm-offset-2">

            @*<input type="submit" value="Register " title="Register" id="btn_regCourse" class="btn btn-success btn-sm"/>*@
            <button class="btn bg-olive btn-flat" type="submit" id="btn_reserveBooking"> Reserve</button>
            <button class="btn bg-purple btn-flat" type="button" id="btn_cancelReserve">Cancel</button>

        </div>
    </div>

  
   
}
