@using SBOSys
@using Microsoft.AspNet.Identity
@model SBOSys.ViewModel.DiscountCodeViewModel


@using (Html.BeginForm("SaveBookingDiscount", "Bookings", FormMethod.Post,new { @class = "form-horizontal", @id = "discountform", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m=>m.transId)

    <div class="box-body">
        
        <div class="form-group">
            <label class="control-label col-sm-4">Select Discount Code:</label>
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.discountCode, Model.DiscountSelectlist, "------- Select Discount Code -------", new {@class = "form-control",@id = "discountcode"})
                @Html.ValidationMessageFor(m => m.discountCode, null, new { @class = "text-danger" })
            </div>
         
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-4">Discount Type:</label>
            <div class="col-sm-6">
              <span class="text-muted control-label" id="discType"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-4">Discount Amount:</label>
            <div class="col-sm-6">
                <span class="text-muted control-label" id="discAmt"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Applicable Date:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <span>From:</span>
                        <span class="text-muted control-label" id="discdateFrom"></span>
                    </div>
                    
                    <div class="col-sm-6">
                        <span>To:</span>
                        <span class="text-muted control-label" id="discdateTo"></span>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-4">Discount Approve By User: </label>
            <div class="col-sm-6">
                <span class="text-muted control-label">@User.Identity.Name</span>
            </div>
        </div>

    </div>
    <div class="box-footer" style="padding-left: 0px;">
        <div class="col-sm-6 col-sm-offset-4">

            @*<input type="submit" value="Register " title="Register" id="btn_regCourse" class="btn btn-success btn-sm"/>*@
            <button class="btn bg-olive btn-flat" type="submit" id="btn_regDiscount">Proceed Discount</button>
       

        </div>
    </div>
}