@using SBOSys.ViewModel
@model PackageBookingViewModel

@{
    var totalAddons = Model.AddOns.Sum(x => x.AddonAmount);
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Additional Information</h3>
        <div class="box-tools">
            <button id="addon_Information" class="btn btn-sm btn-default" data-id="@Model.transactionId"><i class="fa fa-plus"></i></button>
        </div>

    </div>
    <!--box-header-->
    <div class="box-body table-responsive no-padding" style="height: 330px;">
        <table class="table table-hover">
            <tbody>
            @foreach (var item in Model.AddOns)
            {
                <tr>
                    <td style="width:1px; margin-right: 0px; margin-left: 0px;" class="addontools"><span><i class="fa fa-trash pull-right" id="addons_remove" data-id="@item.No"></i></span></td>
                    <td>@item.AddonsDescription </td>
                    <td>@item.AddonNote</td>
                    <td class="text-right">@item.AddonAmount</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td class="text-right text-bold" colspan="2">Total:</td>
               
                <td class="text-right text-bold" colspan="3">Php : @totalAddons</td>
            </tr>
            </tfoot>




        </table>
    </div>
    <!--box-body-->
</div>
