@using SBOSys.ViewModel
@model PackageBookingViewModel


<style type="text/css">

    .tools {
        display: none;
        float: right;
        color: #dd4b39;
        margin-right: 10px;
    }

    tr:hover .tools {
        display: inline-block;
        cursor: pointer;
        transform: scale(1.3);
    }

    .addontools {

        color: #dd4b39;
        margin:0px;
        /*margin-right: 10px;*/
    }

    tr:hover .addontools {
        cursor: pointer;

    }
    span:hover .fa-trash {
        transform: scale(1.4);
        cursor: pointer;
    }

    tfoot {
        background-color: #666666;
        color: #dddddd;
        font-size: 15px;
    }
    tfoot td {
        border-bottom: 0;
        border-right: 0;
    }

</style>



<section class="content">

    @*<div class="panel panel-default">
        <div class="panel-body">
            @Model.Package.p_descripton
        </div>
    </div>*@

    <div class="pad margin no-print" style="padding-left: 0px !important; padding-right: 0px !important; margin-bottom: 0px; padding-bottom: 0px;">
        <div class="callout callout-info" style="margin-bottom: 15px;">
            <h4><i class="fa fa-info" style="padding: 0px; margin: 0px;"></i> @Model.Package.p_descripton </h4>

        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-sm-5 col-sm-offset-7 text-right">
            <div class="button-group" style="margin-right: 14px;">
                <a class="btn bg-olive btn-flat" href="@Url.Action("Index", "Bookings")"><i class="fa fa-reply"></i> Bookings </a>
                <a class="btn bg-olive btn-flat" href="@Url.Action("GetPackageBookingDetails", "Bookings",new {transId =Model.transactionId})"><i class="fa fa-reply"></i> Details </a>
                <a class="btn bg-olive btn-flat" href="@Url.Action("PrintDistribution","Bookings",new {transId=Model.transactionId})"> <i class="fa fa-print"></i> Print Distribution</a>
                @*<button class="btn bg-olive btn-flat" type="button" id="btn_PrintDistribution"><i class="fa fa-print"></i> Print Distribution </button>*@
            </div>
        </div>
    </div>
    <div class="col-sm-5" id="bookmenus">
        @{
            Html.RenderAction("GetListofBookMenus","Bookings",new { transactionId = Model.transactionId});

        }
    </div>

    <div class="col-sm-7" id="addons">
        @{
            Html.RenderAction("GetListofAddons", "Bookings",new {transid=Model.transactionId});
        }

    </div>
</section>


<div class="modal fade" id="modal-searchPackageBooking">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modalcontent">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-Addons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Additional Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_addoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



@section scripts
{
    <script type="text/javascript">

        var PackageBookingUrl = {
            urlSearchpackagebooking: "@Url.Action("GetListofCourse", "Bookings")",
            urlMenuList: "@Url.Action("LoadListMenus", "Bookings")",
            urlAddMenustoBooking: "@Url.Action("AddMenusToPackage", "Bookings")",
            urlAddOnsInformation: "@Url.Action("AddOnsInformation", "Bookings")",
            urlRemoveBookingMenus: "@Url.Action("RemoveMenufromListofBookings", "Bookings")",
            urlRemoveBookingAddOns: "@Url.Action("RemoveAddons", "Bookings")"


        }

    </script>

    @Scripts.Render("~/Scripts/js_packagebooking.js")


}