@using SBOSys.ViewModel
@model PaymentTransViewModel

<div class="col-md-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">List of Payments</h3>
            <div class="box-tools">
                <button id="add_payment" class="btn btn-sm bg-olive-active btn-flat" data-id="@Model.transId"><i class="fa fa-credit-card"></i></button>
            </div>
        </div>
        
        <div class="box-body no-padding">
            <table class="table table-condensed table-hover" id="tbl_paymentBooking">
                <thead>
                <tr>
                    <th class="text-center">DATE</th>
                    <th class="text-center">REFERENCE</th>
                    <th class="text-center">PARTICULARS</th>
                    <th class="text-center">DEBIT</th>
                    <th class="text-center">CREDIT</th>
                    <th class="text-center">BALANCE</th>
                    <th></th>
                </tr>
                </thead>
                <tr id="balance" style="background:#8FBC8F; font-size: 1.0em;" >
                    <td>@Model.TransRecievables.transDate.ToString("MMM d, yyyy")</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td class="text-right">
                        @String.Format("{0:N}", Model.TransRecievables.totalPackageAmount)
                    </td>
                   
                    <td class="text-right">
                        @String.Format("{0:N}",Model.TransRecievables.totalPackageAmount)
                    </td >
                    <td></td >
                </tr>
                
                <tbody>
                @foreach (var item in Model.Payments)
                {
                   
                    <tr style="font-size: 1.0em;">
                        <td>
                            @if (item.dateofPayment != null)
                            {
                                @item.dateofPayment.Value.ToString("MMM d, yyyy")
                            }
                        </td>

                        <td>@item.particular</td>
                        <td>@item.notes</td>
                        @if (item.payType == 0)
                        {
                            <td> </td>
                            <td class="text-right credit">
                                @String.Format("{0:N}",item.amtPay)
                            </td>
                           

                        }
                        else
                        {
                            <td class="text-right debit">
                                @String.Format("{0:N}",item.amtPay)
                            </td>
                            <td> </td>
                          
                           
                        }
                      
                        <td class="text-right">
                            @*@String.Format("{0:N}",Model.t_amtBooking)*@
                        </td>
                        <td class="text-center">
                        
                            <button class="btn bg-olive btn-sm btn-flat updatepayment" id=@item.PayNo><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btn-sm btn-flat removepayment" id=@item.PayNo><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td >
                    </tr>


                }
                </tbody>
                <tfoot style="background:#A9A9A9; font-size: 1.0em;">
                <tr>
                    <td class="text-bold">TOTAL: </td>
                    <td colspan='3' class="text-bold"> <span style="float: right;" id="totalPayment"></span> </td>
                    <td></td>
                    <td class="text-bold"><span style="float: right;" id="endbalance"></span></td>
                    <td></td>
                </tr>

                </tfoot>

            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/js_payment.js" type="text/javascript"></script>



@*<script type="text/javascript">

    function executeTotal() {
        
        var row = $('#tbl_paymentBooking tbody >tr');

        var data = $("#tbl_paymentBooking tr:eq(1)");

        // var x = parseFloat(data.find("td:eq(5)").text().replace(/,/g, '')).toFixed(2);
        var init_bal = cleanDecimal(data.find("td:eq(5)").text());

        var temp;
        var totaldebit = 0;
        var balance = 0;

        for (var i = 1; i < row.length; i++) {

            //  var val = $(row[i].cells[4]).text();


            var r = $(row[i]);
            var prevrow = r.prev();

            var credit_val = cleanDecimal($(row[i].cells[3]).text());
            var debit_val = cleanDecimal($(row[i].cells[4]).text());

            //console.log("debit " + val);

            if (debit_val > 0) {

                temp = init_bal - debit_val;
                balance = temp;
                totaldebit = parseFloat(totaldebit) + parseFloat(debit_val);

                // console.log(totaldebit);
            }

            totaldebit = parseFloat(totaldebit);

            // var prevBal = prevrow.find("td:eq(5)").text();
            // init_bal = cleanDecimal(prevBal);
            init_bal = balance;


            if (isNaN(parseFloat(balance))) {
                balance = 0;

            } else {

                balance = balance.toFixed(2);

                $(row[i].cells[5]).text(balance.toLocaleString(undefined, { maximumFractionDigits: 2 }));
            }


        }



        $('#totalPayment').html(totaldebit.toFixed(2).toLocaleString(undefined, { maximumFractionDigits: 2 }));

        $('#endbalance').html(balance.toLocaleString(undefined, { maximumFractionDigits: 2 }));


       
    }

    (_ => {

        executeTotal();

    })();

    function cleanDecimal(val) {

        return parseFloat(val.replace(/,/g, '')).toFixed(2);
    }


</script>*@