@using SBOSys.ViewModel
@model UserinRoleViewModel


<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="control-label col-sm-6">User Role for: </div>@Html.DisplayFor(m=>m.username,new {@class="control-label text-info"})
            </div>
            
            
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("SaveRole_to_User", "Account", FormMethod.Post, new {id = "formaddroletoUser"}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.userId, new { @id = "userId" })
                
                <div class="form-group">
                    <div class="control-label col-sm-3">Add Role: </div>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.selecteduserRole, Model.selectListRoles, null, new {@class = "form-control col-sm-6"})
                        @Html.ValidationMessageFor(m=>m.selecteduserRole, null, new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-3">
                        <button class="btn bg-olive-active btn-flat" type="button" id="addroletouser">Add to Role</button>
                    </div>

                </div>
            }
            

        </div>
    </div>
   
    
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed table-hover" id="tbl-userRole" style="width: 100%;">
                    <thead>
                    <tr>
               
                        <th>RoleName</th>
               
                        <th></th>
               
                    </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model.userRole)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm btn-flat removeroll" id=@item.Id><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>


                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>