@using SBOSysTac.ViewModel
@model IndexViewModel



    <!-- Main content -->
    <section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-android-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-bold text-blue"style="font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahome, sans-serif; font-size: 15px; font-weight: bold;">Event Sched.</span>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 20px; font-size: .9em; text-transform: none;">This Day:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingsschedulecount.TodateBookingSchedule</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Week :</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingsschedulecount.thisWeekBookingSchedule</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Month:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingsschedulecount.thisMonthBookingSchedule</span>
                    </div>


                    @*<span class="info-box-number">@Model.NoofBookings</span>*@
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box" style="margin-bottom: 0px;">
                <span class="info-box-icon bg-red"><i class="fa fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-bold text-blue" style="font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahome, sans-serif; font-size: 15px; font-weight: bold;">Bookings</span>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 20px; font-size: .9em; text-transform: none;">Todate:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingscount.todateBooking</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Week :</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingscount.thisWeekBooking</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Month:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.bookingscount.thisMonthBooking</span>
                    </div>


                    @*<span class="info-box-number">@Model.NoofBookings</span>*@
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        @*<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-bold text-blue" style="font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahome, sans-serif; font-size: 15px; font-weight: bold;">Sales</span>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 20px; font-size: .9em; text-transform: none;">Todate:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">0</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Week :</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">0</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Month:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">0</span>
                    </div>

                 
                </div>
               
            </div>
          
        </div>*@
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-android-call"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text text-bold text-blue" style="font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahome, sans-serif; font-size: 15px; font-weight: bold;">Reservations </span>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 20px; font-size: .9em; text-transform: none;">Todate:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.reservationViewModel.toDateReservation</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Week :</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.reservationViewModel.thisWeekReservation</span>
                    </div>
                    <div class="div_wrapper">
                        <span class="info-box-text text-left" style="display: inline; width: 60px; margin-right: 10px; font-size: .9em; text-transform: none;">This Month:</span>
                        <span class="info-box-text text-bold text-danger dash pull-right" style="width: 20px; display: inline; padding-top: 0px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">@Model.reservationViewModel.thisMonthReservation</span>
                    </div>

                    @*<span class="info-box-number">100,760.00</span>*@
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box" style="height: 500px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Report Recap</h3>
                    @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                            <p class="text-center">
                                <strong>Graph of Bookings </strong>
                            </p>
                            <div class="chart">
                                <!-- bookings Chart Canvas -->
                                <canvas id="bookings_Chart" style="height: 200px;"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>


                        <!-- /.col -->
                        <div class="col-md-5">
                                <p class="text-center">
                                    <strong> Most Order Menu Chart</strong>
                                </p>
                            <div class="chart">
                                <!-- bookings Chart Canvas -->
                                <canvas id="menus_ordercount" style="height: 200px;"></canvas>
                            </div>
                            <!-- /.chart-responsive -->

                        </div>
                        <!-- /.col -->


                    </div>
                    <!-- /.row -->
                    
                    <div class="row" style="margin-top: 15px;">
                        
                        <div class="col-sm-12" id="tablebookings">
                            
                            @{
                                Html.RenderAction("BookingsTodayPartial","Home");
                            }

                        </div>


                    </div>
                    <!-- /.row -->

                </div>
                <!-- ./box-body -->
                @*<div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">Php 35,210.43</h5>
                                <span class="description-text">TOTAL REVENUE</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                                <h5 class="description-header">Php 10,390.90</h5>
                                <span class="description-text">TOTAL COST</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                <h5 class="description-header">Php24,813.53</h5>
                                <span class="description-text">TOTAL PROFIT</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                <h5 class="description-header">1200</h5>
                                <span class="description-text">GOAL COMPLETIONS </span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>*@
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    @*<div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Visitors Report</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-9 col-sm-8">
                                <div class="pad">
                                    <!-- Map will be created here -->
                                    <div id="world-map-markers" style="height: 325px;"></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3 col-sm-4">
                                <div class="pad box-pane-right bg-green" style="min-height: 280px">
                                    <div class="description-block margin-bottom">
                                        <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                        <h5 class="description-header">8390</h5>
                                        <span class="description-text">Visits</span>
                                    </div>
                                    <!-- /.description-block -->
                                    <div class="description-block margin-bottom">
                                        <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                        <h5 class="description-header">30%</h5>
                                        <span class="description-text">Referrals</span>
                                    </div>
                                    <!-- /.description-block -->
                                    <div class="description-block">
                                        <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                        <h5 class="description-header">70%</h5>
                                        <span class="description-text">Organic</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


            </div>

        </div>*@
    <!-- /.row -->
    </section>
    <!-- /.content -->


@section scripts
{
    <script type="text/javascript">

   

        var dashboardUrl= {

            dashUrl_loadbarchart: "@Url.Action("GetDataToChart", "Home")",
            dashUrl_getMenusOrderCount: "@Url.Action("GetOrderCountSelected", "Home")",
            dashUrl_getBookingsToday: "@Url.Action("GetBookingsToday", "Home")"


        }

    </script>


    @Scripts.Render("~/Scripts/js_dashboard.js")
}
