@using SBOSys.ViewModel
@model CourseMenuViewModel
@{
    ViewBag.Title = "ModifyMenu";
}



<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">

            <h3 class="box-title">Modify Menu Details</h3>

        </div>

    @using (Html.BeginForm("ModifyMenu", "Menus", FormMethod.Post, new { @class = "form-horizontal" ,@id="menumodifyform" }))
    {
        <div class="box-body">


          
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                @Html.HiddenFor(m => m.menu_Id)
                @Html.HiddenFor(m => m.dateAdded)


                <div class="form-group">
                    @Html.LabelFor(model => model.menu_Id, new { @class = "col-lg-2 control-label text-left" })
                    <div class="col-lg-2">
                        @Html.TextBoxFor(m => m.menu_Id, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.CourserId, new { @class = "col-lg-2 control-label text-left required " })
                    <div class="col-lg-6">

                        @Html.DropDownListFor(m => m.CourserId, Model.coursecategory_list, "------- Select Course -------", new { @class = "form-control", @id = "courseList" })

                    </div>
                    <div class="col-lg-3">
                        <div id="validationcourse"> @Html.ValidationMessageFor(model => model.CourserId, null, new { @class = "text-danger" })</div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.menudesc, new { @class = "col-lg-2 control-label text-left required" })

                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.menudesc, new { @class = "form-control", @cols = "80", @rows = "3", @style = "width:100%;" })
                    </div>

                    <div class="col-lg-3">
                        @Html.ValidationMessageFor(model => model.menudesc, null, new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.deptId, new { @class = "col-lg-2 control-label text-left required" })

                    <div class="col-lg-6">
                        @Html.DropDownListFor(m => m.deptId, Model.deptincharge_list, "------- Select Department -------", new { @class = "form-control", @id = "deptinchargelist" })
                    </div>

                    <div class="col-lg-3">
                        <div id="validationdept">@Html.ValidationMessageFor(model => model.deptId, null, new { @class = "text-danger" })</div>
                    </div>

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Note, new { @class = "col-lg-2 control-label text-left" })

                    <div class="col-lg-6">
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @cols = "80", @rows = "2", @style = "width:100%;" })
                    </div>


                </div>


        </div>

        <div class="box-footer" style="padding-left: 0px;">
            <div class="col-md-10 col-md-offset-2">

                <input type="submit" value="Update " title="Update Menu" id="btn_modifymenu" class="btn bg-olive btn-flat" style="padding-right: 50px; padding-left: 50px;" />
                <button class="btn bg-purple btn-flat" type="button" id="cancel" onclick="window.history.back()">Cancel</button>

            </div>
        </div>
        <!-- /.box-footer-->
    }

    </div>

    <!-- /.box -->
</section>
<!-- /.content -->

@section scripts{
    
    <script type="text/javascript">


        var menuUrl = {
            menuurl_Index:"@Url.Action("Index", "Menus")"
           
        }
    </script>

    @Scripts.Render("~/Scripts/js_menu.js")

}


