@using SBOSysTac.HtmlHelperClass
@using SBOSysTac.ViewModel
@model CustomerBookingHistoryViewModel
@{
    var fullname = Utilities.getfullname(Model.Customer.lastname, Model.Customer.firstname, Model.Customer.middle);


}
<div class="row">
    <div class="content">
        <div class="pad margin">
            <div class="col-sm-12">
                <div class="row" style="margin-top: 10px; margin-bottom: 25px;">

                    <div class="col-xs-6">
                        <h2 class="page-header" style="margin-bottom: 15px; padding-bottom: 5px; border-bottom: 2px solid  #c8c8a6; color: #2f4f4f;">
                            <i class="fa fa-address-card"></i> Booking History For:

                        </h2>
                        <div class="control-label col-sm-4"> Booking No. :</div> <span class="bookdetails">@Model.TransId</span>
                        <br />
                       <div class="control-label col-sm-4"> Account Name :</div> <span class="bookdetails">@fullname</span>
                        <br />
                        <div class="control-label col-sm-4"> Account Code :</div> <span class="bookdetails">@Model.Customer.c_Id</span>
                        <br />
                        <div class="control-label col-sm-4"> Address :</div> <span class="bookdetails">@Model.Customer.address</span>
                        <br />
                        <div class="control-label col-sm-4"> Contact # :</div> <span class="bookdetails">@Model.Customer.contact1</span>
                        <br />
                    </div>

                </div>
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            
                            @{
                                Html.RenderAction("LogHistoryTransactionTable", new { transId = Model.TransId});
                            }

                        </div>
                    </div>
                </section>
               
            </div>
        </div>
    </div>
</div>
