<div id="spinn-loader">
        Loading data Pls. wait....
 </div>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title text-blue">Customer Booking History</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="bookcustomer" class="form-control" placeholder="Search Customer" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" id="customerbookinginquiry" style="margin-bottom: 7px;">
                                        Search
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="hiddencusId" />
            </div>
        </div>


    </div>


    <div class="row" style="min-height: 600px;">
        <div class="col-xs-12 text-center" id="filteredRecord">

        
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        var inquiryUrl = {
            inquiryUrl_customerbookings: "@Url.Action("GetCustomerBookings", "Inquiry")",
            inquiryUrl_loadbookingsbycustomer: "@Url.Action("LoadBookingsByCustomer", "Inquiry")",
            bookUrl_getPackageId: "@Url.Action("GetPackageId","Bookings")",
            bookUrl_getPackageBookingDetailsId: "@Url.Action("GetPackageBookingDetails", "Inquiry",new {transId = "trans_Id"})",
            bookUrl_getPackageBookingRestoreCancelledBooking: "@Url.Action("RestoreCancelledBooking", "Bookings",new {transId = "trans_Id"})",
            bookUrl_getPackageBookingRestoreServedBooking: "@Url.Action("RestoreServedBooking", "Bookings",new {transId = "trans_Id"})",
            bookUrl_packageBooking: "@Url.Action("GetPackageonBooking","Inquiry", new { transId = "trans_Id" })",
            bookUrl_BookingTransHistory: "@Url.Action("BookingTransactionHistory","Inquiry", new { transId = "trans_Id" })"
        }



        $(function () {

            //var vm = {};
            $('#hiddencusId').val();

            var customers = new Bloodhound({

                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('fullname'),

                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {

                  url: '/Customers/GetCustomers?query=%QUERY',
                  //url: '/Sals/Customers/GetCustomers?query=%QUERY',
                    wildcard: '%QUERY'

                }

            });

            //customers.initialize();

            $('#bookcustomer').typeahead({

                highlight: true

            },
                {
                    name: 'customers',

                    display: 'fullname',

                    source: customers

                }).on("typeahead:selected typeahead:autocompleted", function (e, customer) {
                    e.preventDefault();

                    

                    $('#hiddencusId').val(customer.customerId);

                    //vm.customerId = customer.customerId;
                    //console.log(vm.customerId);
                });

        });




    </script>
    @Scripts.Render("~/bundles/PrintDatatable")
    @Scripts.Render("~/Scripts/js_inquiries.js")

}
