@using SBOSysTac.ViewModel
@model CourseMenuViewModel

<style type="text/css">
    .menus-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 35px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .menus-modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 800px;
        /*max-width: 700px;*/
    }

    .menus-modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
    }

    @@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
    }

    .menus-close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }


    .menus-close:hover,
    .menus-close:focus {
        color: #eeeeff;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
        @@media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
         }
</style>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Menus DataTable</h3>
                    @*<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>*@
                </div>
                <div class="box-body">
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-lg-3">
                            <input type="text" id="searchmenu" class="form-control input-sm" placeholder="Search Menu" />
                        </div>
                        <div class="col-lg-5 col-lg-offset-4">
                            <div class="form-inline">
                                <div class="pull-right">
                                    <label for="filtercoursetype">Filter Course</label>
                                    @Html.DropDownListFor(x => x.CourserId, Model.coursecategory_list, "------- Select Course -------", new { @class = "form-control input-sm", @id = "courseList" })
                                    <button type="submit" class="btn btn-default btn-sm" id="btnSearch">Search</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    @*<div class="row top-buffer"></div>*@

                    <table id="table_menu" class="table table-bordered table-hover" style="width: 100%;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>No.</th>
                            <th>Menu Name</th>
                            <th>Course Category</th>
                            <th>Dept. In-charge</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
          
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->


<div id="modalImage" class="menus-modal">
    <span class="menus-close">&times;</span>
    <img class="menus-modal-content" id="img01"/>
    <div id="caption"></div>
</div>



@section scripts
{
    
    <script type="text/javascript">

        var basepath = '@Url.Content("~/Content/UploadedImage/")';


        var menuUrl = {
            menuurl_Index:"@Url.Action("Index", "Menus")",
            menuurl_loadMenu: "@Url.Action("loadDatatoTable", "Menus")",
            menuurl_getImage: "@Url.Action("Get_Image", "Menus")",
            menuurl_add: "@Url.Action("CreateMenus", "Menus")",
            menuurl_remove: "@Url.Action("RemoveMenu", "Menus")",
            menuurl_modify:"@Url.Action("ModifyMenu","Menus",new {menuId="menucode"})"
        }
    </script>

    @Scripts.Render("~/Scripts/js_menu.js")
}
