
@using System.Web.Mvc.Html
@using SBOSysTac.ViewModel
@model AreaDetailsViewModel





@using (Html.BeginForm("CreateArea", "Area", FormMethod.Post, new { @class = "form-horizontal", @id = "formregisterArea", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.areaId)
   

    <div class="box-body">

        <div class="form-group">
            @Html.LabelFor(m => m.areaDetails, new { @class = "col-sm-3 control-label required" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.areaDetails, new { @class = "form-control", @placeholder = "Enter Area." })
            </div>
            @Html.ValidationMessageFor(m => m.areaDetails, null, new { @class = "text-danger" })
        </div>
        
    </div>

    <div class="box-footer" style="padding-left: 0px;">
        <div class="col-md-6 col-sm-offset-2">

            @*<input type="submit" value="Register " title="Register" id="btn_regCourse" class="btn btn-success btn-sm"/>*@
            <button class="btn bg-olive btn-flat" type="submit" id="btn_regArea">Register Area</button>
            <button class="btn bg-purple btn-flat"type="button" id="btn_cancelregisterArea">Cancel</button>

        </div>
    </div>

}

@*<script type="text/javascript">
    $(document).ready(function() {


        $('#txtcheckNo').attr("disabled", "disabled");

        $(".radio input[type=radio]").each(function (i) {
            $(this).click(function () {

                // alert($(this).val());
             

                if (i === 1) {
                    $('#txtcheckNo').removeAttr("disabled");
                    $('#txtcheckNo').focus();
                } else {

                    $('#txtcheckNo').attr("disabled", "disabled");
                }
            });
        });

    });
</script>*@