@using SBOSysTac.ViewModel
@model BookMenusViewModel


<div class="panel-body" style="margin-top: 0; padding-top: 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success box-solid">
                @using (Ajax.BeginForm("AddMenusToPackage", "Bookings", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "OnSuccess", UpdateTargetId = "modalcontent" }, new {@id= "frmaddmenus" }))
                {
                        @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(x =>x.menuId,new { @id= "hiddenmenuId"})
                    @Html.HiddenFor(x =>x.transId,new { @id= "hdntransId" })

                    @*<input type="hidden" value="@ViewBag.transId" id="hdntransId" />*@
                    <input type="hidden" value="@ViewBag.bookmenuNo" id="hdnchbookmenuNo" />

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Selected menu:</label>
                                @*<input type="text" class="form-control input-sm disabled" id="txtselectedmenu" readonly/>*@
                                @Html.TextBoxFor(m =>m.menu_name,new {@class= "form-control input-sm",@id= "txtselectedmenu",@readonly= "readonly" })
                                @Html.ValidationMessageFor(model => model.menu_name, null, new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Serving:</label>
                                @*<input type="text" class="form-control input-sm" id="txtserving" value="" />*@
                                @Html.TextBoxFor(m =>m.serving,new {@class= "form-control input-sm",@id= "txtserving" })
                            </div>
                        </div>
                        <div class="col-md-3 text-center" style="margin-top: 25px;">
                    
                            <button class="btn bg-olive btn-flat btn-sm" type="submit" id="btn_regbooking"><i class="fa fa-credit-card"></i> Add to List</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

  

    <div class="table-responsive" style="margin-top: 20px;">
        <table class="table table-condensed table-hover" id="tbl-maincourse" style="width: 100%;">
            <thead>
                <tr>

                    <th></th>

                    <th>Menu</th>
                    <th>Course</th>
                  
                </tr>
            </thead>
        </table>
    </div>

</div>

<script>
    jQuery(function ($) {

        LoadDataTabletoModal();
    });
</script>