@using SBOSysTac.ViewModel
@model PackageBookingViewModel


<style type="text/css">
    .addontools {

        color: #dd4b39;
        margin:0px;
        /*margin-right: 10px;*/
    }

    tr:hover .addontools {
        cursor: pointer;

    }
    span:hover .fa {
        transform: scale(1.4);
        cursor: pointer;
      
    }
    span >i {
        margin-right: 3px;
        margin-left: 3px;
    }
    tfoot {
        background-color: #666666;
        color: #dddddd;
        font-size: 15px;
    }
    tfoot td {
        border-bottom: 0;
        border-right: 0;
    }


    .products-list > li .tools {
        display: none;
        float: right;
        color: #dd4b39;
    }
    .products-list > li .product-info{
        margin-left: 5px;
        /*padding-left: 2px;*/
    }
    .products-list > li .tools > .fa,
    .products-list > li .tools > .glyphicon,
    .products-list > li .tools > .ion {
        margin-right: 5px;
        cursor: pointer;
    }
    
    .products-list > li .product {
        display: inline-block;

    }
    .products-list > li:hover .tools {
        display: inline-block;
    }
    .products-list .product-img img {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 25%;
    }

    .menuimgmodal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 35px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    .menuimgmodal-content {
        position: relative;
        background-color: #fefefe;
        margin:auto;
        padding: 0;
        left: 85px;
        width: 75%;
        max-width: 1200px;
    }

    .menuimg-close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .menuimg-close:hover,
    .menuimg-close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    .slides {
        display: none;
    }

    

    .menuimg-prev,
    .menuimg-next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        -ms-transition: 0.6s ease;
        -o-transition: 0.6s ease;
        -webkit-transition: 0.6s ease;
        transition: 0.6s ease;
        -ms-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        -webkit-user-select: none;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .menuimg-next {
        right: 0;
        -ms-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .menuimg-prev:hover,
    .menuimg-next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    .caption-container #caption {
        font-size: 18px;
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    img.demo {
        -ms-opacity: 0.6;
        opacity: 0.6;
        width: 250px; /* Full width */
        height:150px; /* Full height */
        display: inline-block;
        margin: 10px 10px;
    }

    .active,
    .demo:hover {
        -ms-opacity: 1;
        opacity: 1;
    }

    img.hover-shadow {
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }



</style>



<div class="row">
    <section class="content">

        @*<div class="panel panel-default">
        <div class="panel-body">
            @Model.Package.p_descripton
        </div>
    </div>*@

        @*<div class="pad margin no-print" style="padding-left: 0px !important; padding-right: 0px !important; margin-bottom: 0px; padding-bottom: 0px;">
        <div class="callout callout-info" style="margin-bottom: 15px;">
            <h4><i class="fa fa-info" style="padding: 0px; margin: 0px;"></i> @Model.Package.p_descripton </h4>

        </div>
    </div>*@
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-5 col-sm-offset-7 text-right">
                <div class="button-group" style="margin-right: 14px;">
                    <a class="btn bg-olive btn-flat" href="@Url.Action("Index", "Bookings")"><i class="fa fa-reply"></i> Bookings </a>
                    <a class="btn bg-olive btn-flat" href="@Url.Action("GetPackageBookingDetails", "Bookings",new {transId =Model.transactionId})"><i class="fa fa-reply"></i> Details </a>
                    @*<a class="btn bg-olive btn-flat" href="@Url.Action("PrintDistribution","Bookings",new {transId=Model.transactionId})"> <i class="fa fa-print"></i> Print Distribution</a>*@
                    @*<button class="btn bg-olive btn-flat" type="button" id="btn_PrintDistribution"><i class="fa fa-print"></i> Print Distribution </button>*@
                </div>
            </div>
        </div>
        <div class="col-sm-5" id="bookmenus">
            @{
                Html.RenderAction("GetListofBookMenus","Bookings",new { transactionId = Model.transactionId});

            }
        </div>

        <div class="col-sm-7" id="addons">
            @{
                Html.RenderAction("GetListofAddons", "Bookings",new {transid=Model.transactionId});
            }

        </div>
    </section>
</div>


<div class="modal fade" id="modal-searchPackageBooking">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modalcontent" style="padding-top: 0;margin-top:0">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-Addons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Additional Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_addoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-modifyAddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modify Information and Add-ons</h4>
            </div>
            <div class="modal-body" id="modal_modifyaddoncontents">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-change_menu">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Select Menus</h4>
            </div>
            <div class="modal-body" id="modal_changemenu_content">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" id="btnSavelocation">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-seletedaddons">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               
            </div>
            <div class="modal-body" id="modal-content_selectedaddon">

            </div>
         
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modalLightbox" class="menuimgmodal">
    <span class="menuimg-close">&times;</span>
    <div class="menuimgmodal-content" id="imgcontent">
        
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var PackageBookingUrl = {
            urlSearchpackagebooking: "@Url.Action("GetListofCourse", "Bookings")",
            urlSearchpackagebookingbybookNo: "@Url.Action("GetListofCourseforChange", "Bookings")",
            urlChangeMenu_on_Booking: "@Url.Action("Change_Menu_on_Booking", "Bookings")",
            urlMenuList: "@Url.Action("LoadListMenus", "Bookings")",
            urlMenuList_Modify: "@Url.Action("LoadListMenus", "Bookings",new { courseId= "courseid"})",
            urlAddMenustoBooking: "@Url.Action("AddMenusToPackage", "Bookings")",
            urlModifyBookingAddOns: "@Url.Action("ModifyAddOns", "Bookings")",
            urlAddOnsInformation: "@Url.Action("AddOnsInformation", "Bookings")",
            urlAddOnsUpgrades: "@Url.Action("Get_AddonsandUpgrades", "Bookings")",
            urlRemoveBookingMenus: "@Url.Action("RemoveMenufromListofBookings", "Bookings")",
            urlRemoveBookingAddOns: "@Url.Action("RemoveAddons", "Bookings")",
            urlGetListAddonsbyCat: "@Url.Action("Get_AddonsandUpgradesByCat", "Bookings")",
            urlGetSelectedAddons: "@Url.Action("GetSelectedAddons", "Bookings")"

        }


      

    </script>

    @Scripts.Render("~/Scripts/js_packagebooking.js")


}