@using SBOSysTac.ViewModel
@model TransactionDetailsViewModel

@{
    string catdescountdetails=String.Empty;
    var noofPax = Model.Booking_Trans.noofperson;

    var tAmountPackage = Model.Package_Trans.p_amountPax * Model.Booking_Trans.noofperson;
    var totalAddons = Model.TotaAddons;
    var extLocAmount = Model.extLocAmount;

    //var totalbelowminPax = Model.TotaBelowMinPax;

    //var subtotal = (tAmountPackage + totalAddons + extLocAmount + (totalbelowminPax * noofPax)) ;
    var subtotal = (tAmountPackage + totalAddons + extLocAmount) ;

    var bookdiscount = Model.book_discounts;
    var cateringdiscountAmount = Model.cateringdiscount;
    catdescountdetails=String.Format("{0} per pax", cateringdiscountAmount);

    var grandTota = subtotal - bookdiscount - cateringdiscountAmount;


}

<table class="table">
    <tbody>

       

        <tr style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
            <th style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;"> Package Amount:</th>
            <td class="text-right text-bold bookdetails" style="margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">Php @String.Format("{0:N}", tAmountPackage)</td>
        </tr>



        <tr style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
            <th style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px; font-weight: normal;"> Add-Ons/Upgrades: </th>
            <td class="text-right bookdetails" style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", totalAddons)</td>
        </tr>

        <tr style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
            <th style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;font-weight: normal;"> Location ext. amount:<small class="text-muted">(@String.Format("{0:N}", extLocAmount))</small></th>
            <td class="text-right bookdetails" style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", extLocAmount * noofPax)</td>
        </tr>

        @*<tr style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
            <th style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;font-weight: normal;"> Below Min. Pax: <small class="text-muted">(@String.Format("{0:N}", totalbelowminPax))</small> </th>
            <td class="text-right bookdetails" style="width: 60%;margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", totalbelowminPax * noofPax)</td>
        </tr>*@

        <tr style="border-top: 1pt solid black;">

            <th style="width: 60%;" class="text-bold"> SubTotal :</th>
            <td class="text-right text-bold bookdetails">Php @String.Format("{0:N}", subtotal)</td>
        </tr>

    <tr style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
        @{
            if (bookdiscount <= 0)
            {
                <th style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px; font-weight: normal;"> Less: Discount </th>
                <td class="text-right bookdetails" style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", 0.00)</td>
            }
            else
            {
                <th style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px; font-weight: normal;"> Less: Discount <small class="text-muted">(@Model.bookdiscountdetails)</small> </th>
                <td class="text-right bookdetails" style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", -bookdiscount)</td>
            }
        }
       

    </tr>
        
    @{
        if (cateringdiscountAmount > 0)
        {
            <tr  style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
                <th style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-left: 40px; padding-top: 2px; padding-bottom: 2px; font-weight: normal;">Catering Discount :<small class="text-muted">@(catdescountdetails)</small></th>
                <td class="text-right bookdetails" style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", cateringdiscountAmount * noofPax)</td>
            </tr>
        }
    }
    @*<tr  style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
        <th style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-left: 40px; padding-top: 2px; padding-bottom: 2px; font-weight: normal;">Catering Discount </th>
        <td class="text-right bookdetails" style="width: 60%; margin-top: 0px; margin-bottom: 0px; padding-top: 2px; padding-bottom: 2px;">@String.Format("{0:N}", 0.00)</td>
    </tr>*@

    <tr style="border-top: 1pt solid black;border-bottom:4px double #000">

            <th style="width: 60%;" class="text-bold"> Total :</th>
            <td class="text-right text-bold bookdetails">Php @String.Format("{0:N}", grandTota)</td>
        </tr>


    </tbody>
</table>
