@using SBOSysTac.ViewModel
@model EventSelectionViewModel

<div class="box box-solid">
    <div class="box-header with-border">
        <span class="box-title" style="display: inline"><i class="fa fa-calendar"></i> Event List for :</span>
        <span class="text-danger">@Model.eventdateselected.ToString("MMM d, yyyy")</span>
    </div>
  
        <div class="box-body">
            @if (Model.eventlist.Any())
            {
                <table cellpadding=3 class="aeue" style="background-color: #f3f3f3">

                    @foreach (var item in Model.eventlist)
                    {

                        <tr style="margin-bottom: 5px;">

                            @if (@item.bookingtype != "ins")
                            {
                                <td class="aeue_out" style="color: white; width: 45px; text-align: center; border-bottom: 1px solid black;">@item.bookdatetime.Value.ToString("t")</td>
                            }
                            else
                            {
                                <td class="aeue_in" style="color: white; width: 45px; text-align: center; border-bottom: 1px solid black;">@item.bookdatetime.Value.ToString("t")</td>
                            }


                            <td style="background-color:#c2e6ff; width: 180px; padding-left: 8px; border-bottom: 1px solid black; cursor: pointer;" id="bookingevent" data-id="@item.transId">
                                <div class="text-black text-bold" style="font-size: 12pt;">@item.cusfullname</div>
                                <span class="text-black small" style="font-size: 9.5pt;"><i class="fa fa-map-marker" aria-hidden="true" style="color: red;"></i> @item.venue</span>
                                <br><span class="text-black small" style="font-size: 9.5pt;"><i class="fa fa-building-o" aria-hidden="true" style="color: blue;"></i> @item.occasion</span>
                            </td>

                        </tr>
                    }

                </table>
            }
            else
            {
                <div class="text-center text-danger">No record found on this day</div>

            }
        </div>
 
  
</div>

