@if (Request.IsAuthenticated)
{
    <section class="content">
        
        <div class="row">
            <div class="col-sm-6">
                <label style="margin-right: 20px; margin-left: 10px;">Filter Events By: </label>
                <label style="margin-right: 20px; margin-left: 10px;">@Html.RadioButton("optfilter", "all", new {@checked = "checked"}) All </label>
                <label style="margin-right: 20px; margin-left: 10px;">@Html.RadioButton("optfilter", "book") Bookings </label>
                <label style="margin-right: 20px; margin-left: 10px;">@Html.RadioButton("optfilter", "reserve") Reservations </label>
            </div>
        </div>

        <div class="row">


            <div class="col-md-9">
                <div class="box box-success">
                    <div class="box-body no-padding">
                        <div id="event_calendar"></div>
                    </div>
                </div>


            </div>

            <div class="col-md-3" id="eventsList" style="margin-left: 0px;">

            </div>
            <!--end col-md-3-->
        </div>
        <!--end row-->
    </section>
    <!--end section-->

}
<div id="spinn-loader">
    Loading data Pls. wait....
</div>

@section scripts
{
    <script type="text/javascript">

        var calendarEventsUrl= {

            calUrl_AllEvents: "@Url.Action("GetAllEvents", "Events")",
            calUrl_Book_Events: "@Url.Action("Get_AllBookingEvents", "Events")",
            calUrl_Reservation_Events: "@Url.Action("Get_AllReservationEvents", "Events")",
            calUrl_GetEventsToday: "@Url.Action("GetAllEventsToday", "Events")",
            calUrl_GetEventBookingDetails: "@Url.Action("Get_EventBookingDetails", "Events",new {bookingId= "book_id" })",
            calUrl_dayEventUrl: "@Url.Action("GetAllEventsDay", "Events")"

                                       }

    </script>
   

    @Scripts.Render("~/Scripts/js_eventcalendar.js")
}
